
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;

    /* align-items: center;
    justify-content: center; */
    height: 100vh;
    overflow: hidden;
    margin: 0;

}

.container {
    background-color: lightgoldenrodyellow;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.puzzle-box {
    background-color: darkred;
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    border-radius: 15px;


}
/* .puzzle-slot {
    display: flex;
    height: 100px;
    width: 100px;
    padding: 2px;
    align-items: center;
    justify-content: center;
} */

.piece {
    width: 100px;
    height: 100px;
    background-color: orange;
    border-radius: 8px;
    cursor: pointer;

}

.empty {
    width: 100px;
    height: 100px;
    opacity: 0;
}

/* li {

    display: flex;
    position: relative;
    background-color: white;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    height: 98px;
    width: 98px;



} */